@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: #000;
  font-family: "Roboto", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.board {
  display: grid;
  grid: auto-flow 10px / repeat(20, 10px);
  gap: 2px;
}

.pixel {
  background-color:#222;
}